<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link href="/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="header :: header">

</div>

<form action="/games/slots" method="post" name="slot" style="margin-top: 200px">
    <label>
        Slot name:
        <input type="text" name="slotName">
    </label>
    <label>
        View name:
        <input type="text" name="viewName">
    </label>
    <input type="submit">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>
</body>
</html>