<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="/js/support-chat.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <link href="/css/chat-support.css" rel="stylesheet" type="text/css">
    <link href="/css/all.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="header :: header">

</div>
<h2 th:if="${user != 2}" th:text="'Moderator: ' + ${moderatorName}" style="margin-left: 45%;
    color: white;
    margin-top: 150px;"></h2>
<h2 th:if="${user == 2}" th:text="'User: ' + ${userName}" style="margin-left: 45%;
    color: white;
    margin-top: 150px;"></h2>
<div class="chat" >
    <div class="message-list">
        <th:block th:each="message: ${messages}">
            <div th:if="${message.user.nickname} != ${nickname}" class="message other-message">
                <p class="message-text" th:text="${message.message}"></p>
            </div>
            <div th:if="${message.user.nickname} == ${nickname} "class="message user-message">
                <p class="message-text" th:text="${message.message}"></p>
            </div>
        </th:block>
    </div>
    <div class="input-area">
        <input type="text" class="input-field" placeholder="Введите сообщение">
        <button class="send-button">Отправить</button>
        <form th:if="${role == 2}" action="/support/delete" method="post" name="chatId">
            <input type="submit" class="send-button" style="background-color: crimson" value="Delete chat">
            <input type="hidden" name="chatId" th:value="${chatId}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </div>
    <input id="chatId" type="hidden" th:value="${chatId}">
</div>
</body>
</html>