<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link href="/css/all.css" rel="stylesheet" type="text/css">
    <link href="/css/deposit.css" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="header :: header">

</div>
<div class="container" style="margin-top: 150px">
    <div class="profile-container">
        <h2 class="profile-heading">Профиль</h2>
        <div class="profile-block">
            <h4 th:text="Deposit"></h4>
            <p th:text="${email}"></p>
            <form action="/users/balance" method="post" name="balance">
                <div class="form-group">
                    <label for="phoneNumber" class="form-label">Введите сумму</label>
                    <input type="number" name="balance" class="form-control" id="phoneNumber" placeholder="Введите сумму">
                </div>
                <button type="submit" class="btn btn-primary">Пополнить</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>